.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.19;
  color: #f2994a;
}

.wrapper {
  width: 270px;
  display: block;
}
.wrapper:last-child {
  padding-top: 0;
}

.wrapper:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 670px) {
  /* .wrapper {
    padding-top: 30px;
  } */
  .wrapper:last-child {
    padding-top: 30px;
  }
  .wrapper:not(:last-child) {
    margin-right: 30px;
  }
}
