* {
  box-sizing: border-box;
}

.form {
  width: 270px;
  padding: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  border: 1px solid black;
}

.lable {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;
}

.input {
  font-size: 12px;
  width: 240px;
  height: 35px;
  padding: 4px 10px;
  margin-top: 5px;
  background: #ffffff;
  border: 1px solid #cacaca;
  font-size: 14px;
  letter-spacing: 0.01rem;
  border-radius: 5px;
  outline: none;
}

.add_btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.add_btn:hover {
  opacity: 1;
}
